<launch>
<include file="$(find rtabmap_launch)/launch/rtabmap.launch">
    <arg name="rgb_topic" value="/rgb/image_raw"/>
    <arg name="depth_topic" value="/rgb/depth_raw"/>
    <arg name="camera_info_topic" value="/rgb/camera_info"/>
    <arg name="imu_topic" value="/imu/imu_rect"/>
    <arg name="frame_id" value="base_link"/>
    <arg name="approx_sync" value="true"/>
    <arg name="wait_imu_to_init" value="true"/>
    <arg name="rtabmap_args" value="--delete_db_on_start --Odom/Strategy 9"/>
</include>
</launch>
