<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>PLY Viewer</title>
    <style>
        body {
            margin: 0;
            overflow: hidden;
            background: #111;
        }
        canvas {
            display: block;
        }
    </style>
<script src="/js/three.min.js"></script>
<script src="/js/eventemitter3.umd.js"></script>
<script src="/js/roslib.js"></script>
<script src="/js/ros3d.min.js"></script>
<script src="/js/OBJLoader.js"></script>
<script src="/js/MTLLoader.js"></script>

</head>
<body>
<div id="viewer"></div>
<script type="module">
var viewer = new ROS3D.Viewer({
    divID: 'viewer',
    width: 800,
    height: 600,
    antialias: true,
    intensity: 0
    //background: '#111111'
});

// Optional: add lighting
//viewer.scene.add(new THREE.AmbientLight(0x505050, 0.5));

var directionalLight = new THREE.DirectionalLight(0xffffff, 2); // color, intensity
directionalLight.position.set(0, -10, 10); // set light position
viewer.scene.add(directionalLight);


var mtlLoader = new THREE.MTLLoader();
mtlLoader.setPath('/ply/trips/{{target}}/map_1/');                 // Folder containing model.mtl
mtlLoader.load('{{style}}.mtl', function (materials) {

    materials.preload();

    var objLoader = new THREE.OBJLoader();
    objLoader.setMaterials(materials);
    objLoader.setPath('/ply/trips/{{target}}/map_1/');             // Folder containing model.obj + textures

    objLoader.load('{{style}}.obj', function (object) {
        object.traverse(function(child) {
            if (child.isMesh) {
                child.geometry.computeVertexNormals();
                child.material = new THREE.MeshPhongMaterial({
                    map: child.material.map,
                    color: 0xffffff,
                    shininess: 0
                });
                child.material.map.encoding = THREE.sRGBEncoding;
            };
        });
        viewer.scene.add(object);
    });
    viewer.renderer.gammaInput = true;
    viewer.renderer.gammaOutput = true;
    //viewer.renderer.gammaFactor = 2.2;
});
</script>

</body>
</html>
