[Unit]
Description=Add multicast route on loopback
After=network.target

[Service]
Type=oneshot
ExecStart=/sbin/ip route add 224.0.0.0/4 dev lo
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
