*begin storrs

*title "Storrs Common"
*date 2026.08.07 ;date the survey was done
*team Insts Phil Underwood
*team Notes Phil Underwood
*team Tape Phil Underwood

;from	to	tape	compass	clino	; remarks
A       B    9.02   84.33   -14.53
B       C   5.237   183.00  +12.83
C       D   5.558   98.59   +13.58
D       E   3.991   180.39  +13.55

*end storrs